<link rel="stylesheet" href="/client/src/app/component/create-invitation/create-invitation.component.css">
<link rel="stylesheet" href="/client/src/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<div class="create_Invitation_Content">
    <div class="navbar">
        <a class="logo_navbar" href="/">MyWedding</a>
    </div>
    <div>
        <h1 class="slogan">Create your wedding invitation card</h1>
    </div>
    <div>
        
    </div>
</div>


