<link rel="stylesheet" href="/client/src/app/component/create-invitation/create-invitation.component.css">
<link rel="stylesheet" href="/client/src/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<div class="navbar">
    <a class="logo_navbar" href="/">MyWedding</a>
</div>
<div class="create_Invitation_Content">
    
    <div>
        <h1 class="slogan">Create your wedding invitation card</h1>
    </div>
    <div class="container_CreatePage">
        <div class="create_New">
            <div class="content_Create_Page">
                <a  href="">
                    <div class="content_Create">
                        Blank
                    </div>
                </a>
                <a href="">New...</a>
            </div>
        </div>
        <div class="create_New">
            <div class="content_Create_Page">
                <a  href="">
                    <div class="content_Create">
                        MyWedding
                    </div>
                </a>
                <a href="">By MyWedding</a>
            </div>
            
        </div>
        <div class="create_New">
            <div class="content_Create_Page">
                <a  href="">
                    <div class="content_Create">
                        Explore more design...
                    </div>
                </a>
                <a href="">Community</a>
            </div>
            
        </div>
    </div>
    
</div>


