@media screen and (max-width: 800px) {
    
    .create_Invitation_Content{
        margin: 20px 40px;

    }
    
  }
  @media screen and (min-width: 801px) {
    
    .create_Invitation_Content {
      width: 60%; /* Th1e width is 100%, when the viewport is 800px or smaller */
      margin: 0px auto;

    }
  }
  .navbar{
    width: 100vw;
    background-color: var(--lightPink_color);
    padding: 5px 40px;
}
.logo_navbar{
    font-style: italic;
    font-size: 40px;
    color: white;
    /* color: var(--lightGreen_color); */
    text-decoration: none;
}
.slogan{
  margin-top: 60px;
    width: 100%;
    font-style: italic;
    background: var(--lightGreen_color);
    /* background:linear-gradient(271.15deg, #FA4BFE 7.64%, #FB724C 90.68%), #EE5757; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.container_CreatePage{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.create_New{
  width: 40%;
  height: 50%;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.content_CreatePage{
  width: 50%;
  justify-content: center;
  text-align: center;
}
.content_Create{
  border: 3px solid var(--lightPink_color);
  border-radius: 5px;
  width: 100%;
  height: 30vh;
}