<!-- (ngSubmit)="addSong()" -->
<div class="register-song-container">
    <form #ngForm class="form">
        <label for="btn-cancel" style="text-align: end;">
        <i class="fa-solid fa-xmark"></i>
        </label>
        <h1>Change Song</h1>
        <div class="container">
            <div class="row" style="display: flex; justify-content: center;text-align: center;">
                <div class="col">
                    <div class="col" style="display: grid;">
                        <div class="input-style">
                            <input placeholder="{{song.fullName}}" class="input" type="text" id="fullname" [(ngModel)]="song.fullName" name="fullname">
                        </div>
                        <div class="input-style">
                            <input placeholder="{{song.songName}}" class="input" type="text" id="songname" [(ngModel)]="song.songName" name="songname">
                        </div>
                        <div class="input-style">
                            <input placeholder="{{song.linkBeat}}" class="input" type="text" id="linkbeat" [(ngModel)]="song.linkBeat" name="linkbeat">
                        </div>
                    </div>

                    <br>

                    <button class="btn" (click)="updateRegisterSong(song.id)" style="margin-right: 20px;"> Update</button>
                    <button class="btn" (click)="deleteRegisterSong(song.id)">Delete</button>
                    <button class="btn" (click)="back()" id="btn-cancel" style="display: none;"> Cancel</button>

                </div>
            </div>
        </div>
    </form>
</div>
