<!-- (ngSubmit)="addSong()" -->
<div class="container-regiter-song">
  <form #form="ngForm" >
    <div class="col">
      <div>
        <a>Song: </a>
        <input type="text" class="form-control" id="songname" [(ngModel)]="song.songName" name="songname">
      </div>
      <div>
        <a>Singer: </a>
        <input type="text" class="form-control" id="fullname" [(ngModel)]="song.fullName" name="fullname">
      </div>
      <div>
        <a>Link Beat: </a>
        <input type="text" class="form-control" id="linkbeat" name="linkbeat" [(ngModel)]="song.linkBeat">
      </div>
      <br>
      <button class="btn btn-success btn-sm float-right" type="submit" (click)="updateRegisterSong(song.id)">
        Update
      </button>

      <button class="btn btn-warning btn-sm float-right" type="submit" (click)="deleteRegisterSong(song.id)">
        Delete
      </button>
    </div>
  </form>
</div>

  <!-- <div class="container">
    <div class="row">
      <div class="col ">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Song</th>
              <th scope="col">Singer</th>
            </tr>
          </thead>
          <tbody>
            <td>
              <a target="_blank" href="{{ song.linkBeat }}" id="bottle"> {{ song.songName }}
              </a>
            </td>
            <td>{{ song.fullName }}</td>
          </tbody>
        </table>
      </div>

    </div>
  </div> -->

