<form #form="ngForm" >
  <div class="input-group mb-3">
    <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)"
           [(ngModel)]="accountInfo.avatar" name="imageLink">
<!--    <input type="text" class="form-control" id="position" name="Position" [(ngModel)]="albumnDetails.position">-->
  </div>
  <br>
  <button class="btn btn-success btn-sm float-right" type="submit">
    Upload
  </button>
<!--  <button class="btn btn-danger btn-sm float-right" type="button" (click)="deleteImage(albumnDetails.id)">-->
    Delete
<!--  </button>-->
</form>
