<div class="register-container" [style.display]="state" (click)="existForm()">
    <app-edit-register-song *ngIf="this.state == ''" class="anima" stopPropagation [id]="id"></app-edit-register-song>
</div>
<div class="register-song-container" *ngIf="isRegisterSongComponentVisible">
    <form class="form">
        <div class="container">
            <div class="row">
                <div class="col order-first">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Song</th>
                                <th scope="col">Singer</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let song of songs; let i = index">
                                <th hidden>{{ song.id }}</th>
                                <th scope="row">{{i + 1}}</th>
                                <!--          <td><input type="checkbox" [(ngModel)]="albumnDelete.selected"></td> &lt;!&ndash; Add Checkbox column &ndash;&gt;-->
                                <td>
                                    <a class="tag" target="_blank" href="{{ song.linkBeat }}" id="bottle"> {{ song.songName }}</a>
                                </td>
                                <td>{{ song.fullName }}</td>
                                <td><a class="tag" (click)="showComponent(song)">Change</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div class="col" style="display: grid;">
                        <div class="input-style">
                            <input placeholder="Singer's Name" class="input" type="text" id="fullname" [(ngModel)]="song.fullName" name="fullname">
                        </div>
                        <div class="input-style">
                            <input placeholder="Song's Name" class="input" type="text" id="songname" [(ngModel)]="song.songName" name="songname">
                        </div>
                        <div class="input-style">
                            <input placeholder="Link Beat" class="input" type="text" id="linkbeat" [(ngModel)]="song.linkBeat" name="linkbeat">
                        </div>
                    </div>
                    <br>
                    <button class="btn" (click)="addSong()"> Add Singer To Party</button>
                </div>
            </div>
        </div>
    </form>
</div>


<button *ngIf="isEditRegisterSongComponentVisible" class="btn btn-success" (click)="back()">BACK</button>
<app-edit-register-song *ngIf="isEditRegisterSongComponentVisible" [id]="id"></app-edit-register-song>
