<form #form="ngForm" (ngSubmit)="addSong()">
  <div class="container">
    <div class="row">
      <div class="col order-first">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Song</th>
              <th scope="col">Singer</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let song of songs; let i = index">
              <th hidden>{{ song.id }}</th>
              <th scope="row">{{i + 1}}</th>
              <!--          <td><input type="checkbox" [(ngModel)]="albumnDelete.selected"></td> &lt;!&ndash; Add Checkbox column &ndash;&gt;-->
              <td>
                <a target="_blank" href="{{ song.linkBeat }}" id="bottle"> {{ song.songName }}
                </a>
              </td>
              <td>{{ song.fullName }}</td>
              <td><a [routerLink]="['/register-song/edit',song.id]" routerLinkActive="router-link-active">Update/Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <select (change)="onContentSelected($event)">
          <option *ngFor="let content of contents" [value]="content.id">{{content.hostName}}</option>
        </select>
        <br>
        <br>
        <div>
          <a>Singer: </a>
          <input type="text" class="form-control" id="fullname" [(ngModel)]="song.fullName" name="fullname">
        </div>
        <div>
          <a>Song: </a>
          <input type="text" class="form-control" id="songname" [(ngModel)]="song.songName" name="songname">
        </div>
        <div>
          <a>Link Beat: </a>
          <input type="text" class="form-control" id="linkbeat" name="linkbeat" [(ngModel)]="song.linkBeat">
        </div>
        <br>
        <button class="btn btn-success btn-sm float-right" type="submit" routerLink="/register-song">
          Upload
        </button>
      </div>
    </div>
  </div>
</form>
