/* You can add global styles to this file, and also import other style files */
:root{
    --white_color : #eae5e5;
    --background_color : #F2F2F2;
    --lightGreen_color : #378fbb;
    --darkBlue_color : #205b79;
    --lightPink_color : #FC6C85 ;
    --darkPink_color : #26a851;
    --lighPinkNav_color:#FEE2E7;
    --lighPinkHover_color:#FEC4CE;

    --brand-primary: #b1b881;
--brand-black: #000000;
--brand-white: #ffffff;
--brand-dropdown: #85C8DD;

--screen-lg: 1200px;
--screen-md: 992px;
--screen-sm: 768px;
--screen-xs: 480px;
}

*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
  }

@media screen and (max-width: 1400px){
    body{
        max-width: 1320px;
    }
}

@media screen and (max-width: 1200px)
{
    body{
        max-width: 1140px;
    }
}

@media screen and (max-width: 992px)
{
    body{
        max-width: 960px;
    }
}

@media screen and (max-width: 768px)
{
    body{
        max-width: 720px;
    }
}

@media screen and (max-width: 576px)
{
    body{
        max-width: 540px;
    }
}

.form-search{
    height: 100%;
    display: flex;
    align-items: center;
}
