/* You can add global styles to this file, and also import other style files */
:root{
    --white_color : white;
    --background_color : #F2F2F2;
    --lightGreen_color : #83A64E;
    --lightPink_color : #D97373;
    --darkPink_color : #A60303;
}

*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 1400px){
    body{
        max-width: 1320px;
    }
}

@media ((min-width: 1200px)){
    body{
        max-width: 1140px;
    }
}

@media ((min-width: 992px)){
    body{
        max-width: 960px;
    }
}

@media ((min-width: 768px)){
    body{
        max-width: 720px;
    }
}

@media ((min-width: 576px)){
    body{
        max-width: 540px;
    }
}

.form-search{
    height: 100%;
    display: flex;
    align-items: center;
}