/* You can add global styles to this file, and also import other style files */
:root{
    --white_color : white;
    --background_color : #F2F2F2;
    --lightGreen_color : #83A64E;
    --lightPink_color : #D97373;
    --darkPink_color : #A60303;
}

*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    
    margin: 0px;
}