.wrapper.wrapper-full-page {
    min-height: 100vh;
    height: auto;
  }
  .sidebar, .off-canvas-sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 260px;
    left: 0;
    z-index: 1030;
    border-right: 1px solid #ddd;
  }
  .sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
  }
  .sidebar .sidebar-wrapper .dropdown .dropdown-backdrop, .off-canvas-sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
    display: none !important;
  }
  .sidebar .sidebar-wrapper .navbar-form, .off-canvas-sidebar .sidebar-wrapper .navbar-form {
    border: none;
  }
  .sidebar .navbar-minimize, .off-canvas-sidebar .navbar-minimize {
    position: absolute;
    right: 20px;
    top: 2px;
    opacity: 1;
  }
  .sidebar .logo-tim, .off-canvas-sidebar .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
  }
  .sidebar .logo-tim img, .off-canvas-sidebar .logo-tim img {
    width: 60px;
    height: 60px;
  }
  .sidebar .nav, .off-canvas-sidebar .nav {
    margin-top: 20px;
    display: block;
  }
  .sidebar .nav .caret, .off-canvas-sidebar .nav .caret {
    top: 14px;
    position: absolute;
    right: 10px;
  }
  .sidebar .nav li > a + div .nav li > a, .off-canvas-sidebar .nav li > a + div .nav li > a {
    margin-top: 7px;
  }
  .sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
    margin: 10px 15px 0;
    color: white;
    display: block;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 8px;
    line-height: 30px;
    opacity: 0.7;
  }
  .sidebar .nav li .nav > li > a, .off-canvas-sidebar .nav li .nav > li > a {
    padding: 5px 8px;
  }
  .sidebar .nav li.active > a, .off-canvas-sidebar .nav li.active > a, .sidebar .nav li.active > a > i, .off-canvas-sidebar .nav li.active > a > i {
    opacity: 1;
  }
  .sidebar .nav li:hover:not(.active) > a, .off-canvas-sidebar .nav li:hover:not(.active) > a, .sidebar .nav li:focus:not(.active) > a, .off-canvas-sidebar .nav li:focus:not(.active) > a {
    opacity: 1;
  }
  .sidebar .nav i, .off-canvas-sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 12px;
    line-height: 30px;
    width: 34px;
    text-align: center;
    color: black;
    position: relative;
  }
  .sidebar .nav p, .off-canvas-sidebar .nav p {
    margin-bottom: 0;
  }
  .sidebar .nav .collapse .nav, .off-canvas-sidebar .nav .collapse .nav, .sidebar .nav .collapsing .nav, .off-canvas-sidebar .nav .collapsing .nav {
    margin-top: 0;
  }
  .sidebar .sidebar-background, .off-canvas-sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }
  .sidebar .sidebar-background:after, .off-canvas-sidebar .sidebar-background:after {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: #fff;
    opacity: 1;
  }
  .sidebar .logo, .off-canvas-sidebar .logo {
    position: relative;
    padding: 7px 10px;
    z-index: 4;
  }
  .sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-mini {
    opacity: 1;
    float: left;
    width: 34px;
    text-align: center;
    margin-left: 10px;
    margin-right: 12px;
  }
  .sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-normal {
    display: block;
    opacity: 1;
    padding: 11px 0 8px;
  }
  .sidebar .logo:after, .off-canvas-sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #c3c3c3;
  }
  .sidebar .logo p, .off-canvas-sidebar .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: white;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .sidebar .logo .simple-text, .off-canvas-sidebar .logo .simple-text {
    text-transform: uppercase;
    padding: 7px 0;
    display: block;
    white-space: nowrap;
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    line-height: 30px;
    overflow: hidden;
  }
  .sidebar .logo-tim, .off-canvas-sidebar .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
  }
  .sidebar .logo-tim img, .off-canvas-sidebar .logo-tim img {
    width: 60px;
    height: 60px;
  }
  .sidebar:before, .off-canvas-sidebar:before, .sidebar:after, .off-canvas-sidebar:after {
    display: block;
    content: "";
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .sidebar:after, .off-canvas-sidebar:after {
    z-index: 3;
  }
  .visible-on-sidebar-regular {
    display: inline-block !important;
  }
  .visible-on-sidebar-mini {
    display: none !important;
  }
  .off-canvas-sidebar .nav > li > a, .off-canvas-sidebar .nav > li > a:hover {
    color: white;
  }
  .off-canvas-sidebar .nav > li > a:focus {
    background: rgba(200, 200, 200, 0.2);
  }
  
  