<!-- <div class="nav-bar">
<div class="nav-bar">
  <div class="navbar  navbar-dark " color="primary">
    <a class="navbar-brand" href="#">MyWedding</a>
    <div style="display: flex; align-items: center;">
      <div *ngIf="!isLoading">
        <li class="nav-item active">
          <div *ngIf="isExistContent=== false">
            <button class="button-nav-create" (click)="showForm()">
              <span>
                Create new
              </span>
            </button>
          </div>
        </li>
        <li class="nav-item">
          <div *ngIf="isExistContent === true">
            <button class="button-nav-create" (click)="showInvitation()">
              <span>
                Review
              </span>
            </button>
          </div>
        </li>
      </div>
      <app-loading style="margin-right: 15px;" [isLoading]="isLoading"></app-loading>
      <li id="account" class="nav-item">
        <div class="avatar-account" style="padding: 0 15px;">
          <app-loading [isLoading]="isLoadingAvartar"></app-loading>
          <div>
            <img *ngIf="!isLoadingAvartar" class="" src="{{avartar}}">
          </div>
        </div>
        <div class="avatar-account-child">
          <div class="account-item">
            <i class="fas fa-user-edit"></i>
            <button class="button-nav" (click)="showEditAccount()">
              {{this.currentUser?.username}}
            </button>
          </div>
          <div class="account-item">
            <i class="fas fa-sign-out-alt"></i>
            <button class="button-nav" (click)="logout()">Logout</button>
          </div>
        </div>
      </li>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-brand logo"><a>MyWedding</a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item" *ngIf="isExistContent === true">
          <a class="nav-link" (click)="showInvitation()" style="cursor: pointer  ;">Review</a>
        </li>

      </ul>
      <div class="search_icon">
        <app-loading style="margin-right: 15px;" [isLoading]="isLoading"></app-loading>
        <li id="account" class="nav-item">
          <div class="avatar-account">
            <app-loading [isLoading]="isLoadingAvartar"></app-loading>
            <div class="circle-external">
              <div class="circle-internal">
                <img *ngIf="!isLoadingAvartar" class="" src="{{avartar}}">
              </div>

            </div>
          </div>
          <div class="avatar-account-child">
            <div class="wedding-system">
              <div style="font-size: 18px;
                     color: black;
              border-bottom: 2px solid #47758f;
              font-weight: 600;
                border-radius: 50px;">
              </div>
            </div>
            <div class="account-item" (click)="showEditAccount()">
              <i class="fas fa-user-edit i-class"></i>
              <button class="button-nav">
                {{this.currentUser?.username}}
              </button>
            </div>
            <div class="account-item" (click)="logout()">
              <i class="fas fa-sign-out-alt i-class"></i>
              <button class="button-nav">Logout</button>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</nav>