<header>
    <link rel="stylesheet" href="register.component.css">
    <link rel="stylesheet" href="/client/src/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap" rel="stylesheet">-->
</header>
<script src="https://kit.fontawesome.com/f116b41309.js" crossorigin="anonymous"></script>
<div class="content_Login">


    <div class="slogan slogan_Brand">MyWedding</div>
    <p class="slogan slogan_Content">create invitation card free</p>

    <div class="login">Create your account</div>
    <div class="login_Content">
        Have an account?
        <a class="link_To_Login" routerLink="/auth">Login</a>
    </div>
    <br>
    <form>
        <div class="input-group mb-3" style="color: red;" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="input-group mb-3">
            <div *ngIf="errorMessage">*</div>
            <input class="form-control" placeholder="Full Name" type="text" name="fullname"
                [(ngModel)]="registerUser.fullname" required>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="errorMessage">*</div>
            <input class="form-control" placeholder="User Name" type="text" name="username"
                [(ngModel)]="registerUser.username" required>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="errorMessage">*</div>
            <input class="form-control" placeholder="Email" type="email" name="email" [(ngModel)]="registerUser.email"
                required>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="errorMessage">*</div>
            <input class="form-control" placeholder="Password" type="password" name="password"
                [(ngModel)]="registerUser.password" required>
        </div>
        <!-- <div class="input-group mb-3">
            <input class="form-control" placeholder="Confirm Password" type="password" name="confirmpassword">
        </div> -->
        <div class="input-group mb-3" hidden>
            <input class="form-control" [(ngModel)]="registerUser.role" type="text" id="role" name="role" value="User">
        </div>
        <input class="submit_Register" (click)="register()" type="button" value="Submit">
    </form>
    <!-- <h3 class="other_Login">or</h3>
    <div class="login_By">
        <div class="login_By_Google">
            <a href="http://">
                <button type="submit">Continue with Google</button>
            </a>
        </div>

    </div> -->
    <div class="policy">By clicking "Create account", I agree to MyWedding's TOS and Privacy Policy.</div>
</div>