<header>
    <link rel="stylesheet" href="register.component.css">
    <link rel="stylesheet" href="/client/src/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap" rel="stylesheet">
</header>
<script src="https://kit.fontawesome.com/f116b41309.js" crossorigin="anonymous"></script>
<div class="content_Login">


    <div class="slogan slogan_Brand">MyWedding</div>
    <p class="slogan slogan_Content">create invitation card free</p>
    
    <div class="login">Create your account</div>
    <div class="login_Content">
        Have an account?
        <a class="link_To_Login" href="../auth/auth.component.html">Login</a>
    </div>
    <form action="" method="post" class="input_Login">
        <div class="input_auth">
            <input placeholder="Email" type="email" name="Email" id="">
        </div>
        <div class="input_auth">
            <input placeholder="UserName" type="text" name="UserName" id="">
        </div>
        <div class="input_auth">
            <input placeholder="Password" type="password" name="Password" id="">
        </div>
        <div class="input_auth">
            <input placeholder="ConfirmPassword" type="password" name="ConfirmPassword" id="">
        </div>
        <input class="submit_Register" type="submit" value="Register">
    </form>
    <!-- <h3 class="other_Login">or</h3>
    <div class="login_By">
        <div class="login_By_Google">
            <a href="http://">
                <button type="submit">Continue with Google</button>
            </a>
        </div>
        
    </div> -->
    <div class="policy">By clicking "Create account", I agree to MyWedding's TOS and Privacy Policy.</div>
</div>   
    


