@media screen and (max-width: 800px) {
    
    .content_Login{
        margin: 20px 40px;

    }
    
  }
  @media screen and (min-width: 801px) {
    
    .content_Login {
      width: 30%; /* Th1e width is 100%, when the viewport is 800px or smaller */
      margin: 80px auto;

    }
  }
.content_Login{
    background-color: #FFFFFF;
    font-family: 'Source Sans Pro';
}
.slogan{
    width: 100%;
    font-style: italic;
    background: var(--lightGreen_color);
    /* background:linear-gradient(271.15deg, #FA4BFE 7.64%, #FB724C 90.68%), #EE5757; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: right;
}

.slogan_Brand{
    font-weight: 700;
    font-size: 20px;
}

.slogan_Content{
    font-weight: 300;
    font-size: 14px;
}

.login{
font-weight: 700;
font-size: 30px;
color: var(--lightPink_color);
margin: 30px 0px 0px 0px;
}

.login_Content{
    font-weight: 200;
    font-size: 16px;
    color: var(--lightPink_color);
}

.link_To_Login{
    color: var(--darkPink_color);
}

.input_Login{
    margin-top: 30px;
}

.input_auth input{
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
}

.submit_Register{
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 16px;
    border: var(--lightPink_color) 3px solid;
    background-color: var(--lightPink_color);
    border-radius: 5px;
    color: var(--white_color);
}


.other_Login{
    text-align: center;
    margin-bottom: 12px;
    font-weight: 300;
    color: #666;
}

.login_By{
    width: 100%;

}

.login_By_Google a button{
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
    border: var(--lightPink_color) 2px solid;
    background-color: var(--white_color);
    border-radius: 5px;
    color: var(--lightPink_color);
}

.policy {
    font-weight: 200;
    font-size: 12px;
    color: var(--lightPink_color);
    text-align: center;
}