<button *ngIf="isEditAlbumnComponentVisible" class="btn btn-success" (click)="back()">BACK</button>

<div *ngIf="isAlbumnComponentVisible">
  <form #form="ngForm" >
    <div class="container">
      <div class="col">
        <!-- <select (change)="onContentSelected($event)">
          <option *ngFor="let content of contents" [value]="content.id">{{content.hostName}}</option>
        </select> -->
        <h4>Upload Albumns</h4>
        <div class="btn-group">
          <select  class="btn btn-success dropdown-toggle"  (change)="onContentSelected($event)">
            <option *ngFor="let content of contents" [value]="content.id">{{content.hostName}}</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)"
            [(ngModel)]="imageHandler.imageLink" name="imageLink">

          <input type="text" placeholder="Submit location you want" class="form-control" id="position" name="Position" [(ngModel)]="imageHandler.row">
        </div>
        <button class="btn btn-success btn-sm float-right" (click)="addImage()" type="submit">
          Upload
        </button>
      </div>
      <div class="table-container row">
        <h4>Albumns</h4>
        <div class="table col ">
          <table >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Host's Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let albumn of albumns; let i = index">
                <th hidden>{{ albumn?.id }}</th>
                <th scope="row">{{i + 1}}</th>
                <!--          <td><input type="checkboxx" [(ngModel)]="albumnDelete.selected"></td> &lt;!&ndash; Add Checkbox column &ndash;&gt;-->
                <td>
                  <a target="_blank" href="{{ albumn?.imageLink }}" id="bottle">
                    <img class="card-img-top" src="{{ albumn?.imageLink }}" alt="Card image cap">
                  </a>
                </td>
                <td>{{ albumn?.personName }}</td>
                <td><a class="tag" (click)="showComponent(albumn)">Update/Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </form>
</div>

<app-edit-albumn *ngIf="isEditAlbumnComponentVisible"  [id]="id" ></app-edit-albumn>
