.tag{
  cursor: pointer;
  color:var(--lightGreen_color);
}
.tag:hover{
  color:var(--darkBlue_color);
}
.container
{
  margin-left: 0px;
}
.table{
  height: 500px;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 10px;

}
table{
  width: 100%;
  height: 200px;

}
.table-container{
  margin-top: 80px;



}
.content-table{
  width: 100%;
}
.card-img-top{
  height: 80px;
  width: auto;
}
