.tag{
  cursor: pointer;
  color:var(--lightGreen_color);
}
.tag:hover{
  color:var(--darkBlue_color);
}
.container
{
  margin-left: 0px;
}
.table{
  border: 1px solid black;
  border-radius: 10px;
  min-height: 500px;
  overflow-y: auto;
  width: 100%;
}
table{
  width: 100%;
  overflow-y: auto;
}
.table-container{
  margin-top: 80px;

}
.card-img-top{
  height: 80px;
  width: auto;
}
.loadingCenter{
  width: 100%;
  display: flex;
  justify-content: center;
}

