<div class="register-container" [style.display]="state"  (click)="existForm()">
    <app-register-form [personId]="personId" class="anima" stopPropagation ></app-register-form>
</div>
<div class="create_Form_Content" style="position: relative;">

    <div *ngIf ="isLoading" style="height: 60vh; display: flex; align-items: center; justify-content: center;">
        <app-loading  [isLoading]="true" [color]="'red'"></app-loading>
    </div>
    <div *ngIf ="!isLoading">
    <div  class="create_Form_Container"  >
        <div class="host_Name">
            <h4 class="title">
                {{this.content.hostName}}
            </h4>'s wedding ceremony
        </div>
        <div class="time_And_Place">
            <div class="time">
                <p>{{ this.content.date | date : 'HH:mm' }}</p>
                <p>{{ this.content.date | date }}</p>
            </div>
            <div class="place">
                <P style="color:blue;">{{this.content.address}}</P>
            </div>
        </div>
        <div class="container-content image_Center" app-create-form>
            <img src= {{hashMapContent.get(1).imageLink}} alt="">
        </div>
        <div class="container-content our_Stories">
            <h4 class="title">
                Our Stories
            </h4>
            <div class="text-area">
                <p name="our_Stories_Text"
                                >{{this.content.story}}</p>
            </div>
            <ng-image-slider [images]="imageObjectOurStory" #nav></ng-image-slider>
            <div class="container-content image_Center" app-create-form>
            </div>
        </div>
        <div class="container-content restaurant_Map">
            <h4 class="title">
                Restaurant Map
            </h4>
            <div class="image_Drop">
                <div class="image_Center" app-create-form>
                    <img src= {{hashMapContent.get(3).imageLink}} alt="">
                </div>
            </div>
        </div>
        <div class="container-content our_Memory">
            <div class="our_Memory_Title">
                <h4 class="title">
                    Our memory
                </h4>
                We 'll save our ceremony at here
            </div>
            <div class="image_Drop">
                <div class="image_Center" app-create-form>
                  <div class="img-slide">
                    <ng-image-slider [images]="imageObjectOurMemory" #nav></ng-image-slider>
                  </div>
                </div>
            </div>
        </div>
        <div class="container-content see_You">
            <div class="see_You_Title">
                <h4 class="title">
                    See you at the party
                </h4>
            </div>
            <div class="image_Drop">
                <div class="image_Center" app-create-form>
                    <img src= {{hashMapContent.get(5).imageLink}} alt="">
                </div>
            </div>
            <div class="container-content hope_Join">
                <p class="hope_Join_Date"  name="hope_Join_Date">{{this.content.date}}</p>
                <p class="hope_Join_Content"  name="hope_Join_Content">Hope you join us</p>
                <p class="hope_Join_Sign" name="hope_Join_Sign"> {{this.content.hostName}}</p>
                <button class="button" (click)="appearForm()" >
                    Register song
                </button>
            </div>
        </div>
    </div>
</div>  
</div>


