<div class="landscape">
    <!-- <img
    src="https://images.squarespace-cdn.com/content/v1/5648f830e4b00accac88c0b2/1557322095929-9JZKLXA35GFJCCEZ6TQ3/Harelaw+farm+Ayrshire+wedding+photographer_J31A1617.jpg?format=1000w"
    alt="Wedding"> -->

    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <div class="carousel-inner" style="padding: 50px;">
                <div class="carousel-item active" style="text-align: center;justify-content: center;">
                    <h1 class="furniture_text">My Wedding</h1>
                    <p class="m-0 font-weight-bold text-warning">Make you happy is our passion.</p>
                    <div class="contact_bt_main">
                        <div class="contact_bt" *ngIf="isExistContent=== false">
                            <a (click)="showForm()" style="cursor: pointer">Create Now</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- banner section end -->

    <!-- about section start -->
    <div class=" about_section layout_padding ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-6 ">
                    <h1 class="about_text ">About Us</h1>
                    <p class="lorem_text ">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believableThere are many variations of passages
                        of Lorem Ipsum available, but the majority have able</p>
                    <div class="read_bt1 "><a href="# ">Read More</a></div>
                </div>
                <div class="col-md-6 ">
                    <img class="image_1 " src="https://www.rockmywedding.co.uk/1500x1040/jpg/6016/7810/1934/kirtlington-park_Poppy_Cater_Portraits_2.webp?fit=1 ">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="landscape ">
  <img
    src="https://images.squarespace-cdn.com/content/v1/5648f830e4b00accac88c0b2/1557322095929-9JZKLXA35GFJCCEZ6TQ3/Harelaw+farm+Ayrshire+wedding+photographer_J31A1617.jpg?format=1000w "
    alt="Wedding ">
</div> -->
