.heart-wrap {
  perspective: 600;
  position: relative;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.075, 0.8, 0.195, 1);
}

.light-pink {
  fill: lightpink;
}

.heart-wrap div {
  /*   position: absolute; */
  transform-style: preserve-3d;
  width: 250px;
  height: 250px;
  margin: 100px auto;
  transform: rotateY(0deg) translateY(200%);
  animation-name: rotateHeart;
  animation-fill-mode: both;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}



.heart-wrap div svg.pink {
  /*   fill: deeppink; */
  backface-visibility: hidden;
  overflow: hidden;
  position: absolute;
}


.dark-pink {
  fill: #C42847;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(130%) scaleY(0.6);
    animation-timing-function: cubic-bezier(.18, .9, .45, 1);
  }

  50% {
    transform: translateY(0%) scaleY(1);
    animation-timing-function: cubic-bezier(.44, 0, .89, .17);
  }
}

@keyframes rotateHeart {
  0% {
    transform: rotateY(0deg);
  }

  45% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  70% {
    transform: rotateY(0deg);
  }
}

/*
.create_Invitation_Content {
  height: 100%;
}

.container_CreatePage {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logoutButton {
  border: 0px;
  border-radius: 50%;
  background: linear-gradient(145deg, #fffbfb, #e6d4d4);
  box-shadow: 6px 6px 12px #918686,
    -6px -6px 12px #ffffff;
}

.logoutButton {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.content_Create_Page {
  border: 0px;
  border-radius: 5px;
  width: 200px;
  height: 70px;

  border-radius: 20px;
  background: linear-gradient(145deg, #fffbfb, #e6d4d4);
  box-shadow: 6px 6px 12px #918686,
    -6px -6px 12px #ffffff;
}

.invitation {
  width: 80%;
}

.create_New {
  width: 50%;
  height: 50%;
  text-align: center;
  align-items: center;
  margin-right: 30px;
}

.create_New button {
  background-color: white;
}

.content_CreatePage {
  width: 20%;
  justify-content: center;
}

.content_Create {
  border-radius: 5px;
  width: 200px;
  height: 70px;
}

.navbar {
  background-color: var(--lightGreen_color);
  width: 100%;
  padding: 10px 15px;
  position: fixed;
  z-index: 100;
}

.navbar-brand {
  font-size: 25px;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: end;

}

.nav-item {
  margin-right: 20px;
}

.button-MW {
  background-color: transparent;
  color: white;
}

.angular-logo {
  margin: 0 4px 3px 0;
  height: 35px;
  vertical-align: middle;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.landscape {
  width: 100%;
}

.landscape img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}
  /* margin-top: 63px; */
.button-nav-create {
  border: none;
  border-radius: 20px;
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  transition: all 1.5s ease;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 0;
}

.button-nav-create span {
  display: inline-block;
  padding: 6px 12px;
  font-size: 17px;
  border-radius: 20px;
  background: #ffffff10;
  backdrop-filter: blur(20px);
  transition: 0.4s ease-in-out;
  transition-property: color;
  height: 100%;
  width: 100%;
}

.button-nav-create span:hover {
  backdrop-filter: blur(0px);
  color: #ffffff;
}

.button-nav {
  background-color: transparent;
  border: none;
  color: white;
}

.banner_section {
  width: 100%;
  float: left;
  background-image: url(https://images.squarespace-cdn.com/content/v1/5648f830e4b00accac88c0b2/1557322095929-9JZKLXA35GFJCCEZ6TQ3/Harelaw+farm+Ayrshire+wedding+photographer_J31A1617.jpg?format=1000w);
  height: 70vh;
  padding-bottom: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.furniture_text{
  width: 100%;
  float: left;
  font-size: 100px;
  color: #090808;
  text-align: center;
  text-transform: uppercase;
}
.there_text {
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  color: #090808;
  text-align: center;
}
.carousel-inner {
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 15px;
}

.contact_bt_main{
  width: 17%;
  margin: 0 auto;
  text-align: center;
}
.contact_bt {
  width: 100%;
  float: left;
  margin-top: 60px;
  margin-bottom: 60px;
}
.contact_bt a{
  width: 100%;
  float: left;
  font-size: 18px;
  color: #ffffff;
  background-color: #ffb607;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  text-transform: uppercase;
}
.contact_bt a:hover{
  color: #ffffff;
  background-color: #000;
}

.services_section{
  width: 100%;
  float: left;
  padding-bottom: 90px;
}
.services_taital{
  width: 100%;
  float: left;
  font-size: 36px;
  color: #090808;
  text-align: center;
  text-transform: uppercase;
}
.many_taital{
  width: 100%;
  float: left;
  font-size: 16px;
  color: #090808;
  text-align: center;
  margin-left: 0px;
  margin-top: 10px;
}
.services_section2{
  width: 100%;
  float: left;
}
.furnitures_text {
  width: 100%;
  float: left;
  font-size: 24px;
  color: #090808;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
}
.dummy_text{
  width: 100%;
  float: left;
  font-size: 16px;
  color: #090808;
  text-align: center;
  margin-left: 0px;
  margin-top: 10px;
}

.read_bt_main{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.read_bt {
  width: 100%;
  float: left;
  margin-top: 10px;
}
.read_bt a{
  width: 100%;
  float: left;
  font-size: 18px;
  color: #ffffff;
  background-color: #ffb607;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  text-transform: uppercase;
}
.read_bt a:hover{
  color: #ffffff;
  background-color: #000;
}
.about_section{
  width: 100%;
  float: left;
  background-color: #ffb607;
  height: auto;
  padding-top: 90px;
  padding-bottom: 90px;
}
.image_1{
  width: 100%;
  height: 450px;
  object-fit: cover;
  float: left;
}

.about_text {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
}
.lorem_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  margin-left: 0px;
  padding-top: 40px;
}
.read_bt1 {
  width: 30%;
  float: left;
  margin-top: 70px;
}
.read_bt1 a{
  width: 100%;
  float: left;
  font-size: 18px;
  color: #ffffff;
  background-color: #070201;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  text-transform: uppercase;
}
.read_bt1 a:hover{
  color: #000;
  background-color: #ffffff;
}
.contact_section {
  width: 100%;
  float: left;
  /* background-image: url(https://www.rockmywedding.co.uk/470x592/jpg/8216/7810/4799/average-wedding-cost.webp);  */
  background-color: var(--lightGreen_color);
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 90px;
}
.mail_sectin{
  width: 100%;
  float: left;
}
.contact_text{
  width: 100%;
  float: left;
  font-size: 36px;
  color: #ffffff;

}
.email-bt {
  color: #989696;
  width: 100%;
  height: 55px;
  font-size: 18px;
  padding: 20px;
  margin-top: 25px;
  border: 0px;
  border-radius: 5px;
}
input.email-bt::placeholder {
  color: #989696;
}
.massage-bt {
  color: #989696;
  width: 100%;
  height: 150px;
  font-size: 18px;
  padding: 50px 20px 10px 20px;
  margin-top: 25px;
  border: 0px;
  border-radius: 5px;
}
textarea#comment::placeholder {
  color: #989696;
}
.send_bt {
  width: 100%;
  float: right;
  margin-top: 50px;
}
.send_bt a{
  width: 30%;
  float: right;
  font-size: 20px;
  color: #989696;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 10px 0px;
  font-weight: bold;
}
.send_bt a:hover{
  color: #989696;
  background-color: #ffffff;
}
.image_9 {
  width: 100%;
  height: 600px;
  object-fit: cover;
  float: left;
}
.input-group {
  width: 45%;
  float: right;
}

.form-control {
  display: block;
  /* width: 100%; */
  padding: 0px 15px 10px 0px;
  font-size: 18px;
  /* line-height: 1.5; */
  color: #fff;
  background-color: transparent;
  /* background-clip: padding-box; */
  border-bottom: 1px solid #fff !important;
  border-radius: 0px;
  /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
  border: 0px;
}
.input-group-text {
  padding: 0px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}
.input-group-text a{
  color: #ffffff;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0px;
  background: transparent !important;
  border-bottom: 1px solid #ffff;
}
