<header>
    <link rel="stylesheet" href="reset-password.component.css">
    <link rel="stylesheet" href="/client/src/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap" rel="stylesheet">-->
</header>
<script src="https://kit.fontawesome.com/f116b41309.js" crossorigin="anonymous"></script>
<div class="content_Login">


    <div class="slogan slogan_Brand">MyWedding</div>
    <p class="slogan slogan_Content">Reset password</p>

    <div class="login">Reset password</div>
    <div class="login_Content">
        Have an account?
        <a class="link_To_Login" routerLink="/login">Login</a>
    </div>
    <br>

    <form #PasswordForm="ngForm">
        <div class="input-group mb-3">
            <input class="form-control" placeholder="Password" type="password" id="password" name="password" [(ngModel)]="resetPassword.password" [required]="true" [minlength]="5">
            <small class="text-danger" *ngIf="PasswordForm.controls['password']?.errors?.['minlength']">Password
                    must be
                    at least 5 characters long.</small>
        </div>
        <div class="input-group mb-3">
            <input class="form-control" placeholder="ConfirmPassword" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="resetPassword.confirmPassword" [required]="true" [minlength]="5">
            <small class="text-danger" *ngIf="PasswordForm.controls['confirmPassword']?.errors?.['minlength']">Password
                    must be
                    at least 5 characters long.</small>
        </div>
        <button type="button" class="submit_Register" (click)="ResetPassword()" [disabled]="PasswordForm.invalid || isLoading">
            <app-loading [text] = "'Save'" [isLoading]="isLoading" ></app-loading>
        </button>
        <div class="input-group mb-3" style="color: red;" *ngIf="errorMessage">{{errorMessage}}</div>
    </form>
    <div class="policy"></div>
</div>