<header>
    <link rel="stylesheet" href="register.component.css">
    <link rel="stylesheet" href="/client/src/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap" rel="stylesheet">-->
</header>
<script src="https://kit.fontawesome.com/f116b41309.js" crossorigin="anonymous"></script>
<div class="content_Login">


    <div class="slogan slogan_Brand">MyWedding</div>
    <p class="slogan slogan_Content">create invitation card free</p>

    <div class="login">Create your account</div>
    <div class="login_Content">
        Have an account?
        <a class="link_To_Login" routerLink="/login">Login</a>
    </div>
    <br>

    <form #registerForm="ngForm" novalidate>
        <div class="input-group mb-3" style="color: red;"></div>
        <div class="input-group mb-3">
            <input class="form-control" placeholder="Full Name" type="text" id="fullname" name="fullname" [(ngModel)]="registerUser.fullname" [required]="true" [minlength]="5">
            <div *ngIf="registerForm.controls['fullname'].invalid && (registerForm.controls['fullname'].dirty || registerForm.controls['fullname'].touched)">
                <small class="text-danger" *ngIf="registerForm.controls['fullname']?.errors?.['required']">Full Name is
                    required.</small>
                <small class="text-danger" *ngIf="registerForm.controls['fullname']?.errors?.['minlength']">Full Name
                    must be
                    at least 5 characters long.</small>
            </div>
        </div>

        <div class="input-group mb-3">
            <input class="form-control" placeholder="Email" type="email" id="email" name="email" [(ngModel)]="registerUser.email" [required]="true" email>
            <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                <small class="text-danger" *ngIf="registerForm.controls['email']?.errors?.['required']">Email is
                    required.</small>
                <small class="text-danger" *ngIf="registerForm.controls['email']?.errors?.['email']">Please enter a
                    valid
                    email address.</small>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="text" placeholder="User Name" class="form-control" id="username" name="username" [(ngModel)]="registerUser.username" [required]="true" [minlength]="5">
            <div *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)">
                <small class="text-danger" *ngIf="registerForm.controls['username']?.errors?.['required']">Username is
                    required.</small>
                <small class="text-danger" *ngIf="registerForm.controls['username']?.errors?.['minlength']">Username
                    must be
                    at least 5 characters long.</small>
            </div>
        </div>

        <div class="input-group mb-3">
            <input class="form-control" placeholder="Password" type="password" id="password" name="password" [(ngModel)]="registerUser.password" [required]="true" [minlength]="5">
            <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                <small class="text-danger" *ngIf="registerForm.controls['password']?.errors?.['required']">Password is
                    required.</small>
                <small class="text-danger" *ngIf="registerForm.controls['password']?.errors?.['minlength']">Password
                    must be
                    at least 5 characters long.</small>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="password" placeholder="Confirm Password" class="form-control" id="confirmpassword" name="confirmpassword" [(ngModel)]="registerUser.confirmpassword" [required]="true" [minlength]="5">
            <div *ngIf="registerForm.controls['confirmpassword'].invalid && (registerForm.controls['confirmpassword'].dirty || registerForm.controls['confirmpassword'].touched)">
                <small class="text-danger" *ngIf="registerForm.controls['confirmpassword']?.errors?.['required']">Confirm
                    Password is
                    required.</small>
                <small class="text-danger" *ngIf="registerForm.controls['confirmpassword']?.errors?.['minlength']">Confirm
                    Password
                    must
                    be at least 5 characters long.</small>
            </div>
        </div>

        <button type="submit" (click)="register()" [disabled]="isLoading" class="submit_Register" [disabled]="registerForm.invalid">
            <app-loading [text]="'Register'" [isLoading]="isLoading"></app-loading>
            </button>
    </form>

    <!-- <form>
        <div class="input-group mb-3" style="color: red;" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="input-group mb-3">
            <div *ngIf="errorMessage">*</div>
            <input class="form-control" placeholder="Full Name" type="text" name="fullname"
                [(ngModel)]="registerUser.fullname" required>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="errorMessage">*</div>
            <input class="form-control" placeholder="User Name" type="text" name="username"
                [(ngModel)]="registerUser.username" required>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="errorMessage">*</div>
            <input class="form-control" placeholder="Email" type="email" name="email" [(ngModel)]="registerUser.email"
                required>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="errorMessage">*</div>
            <input class="form-control" placeholder="Password" type="password" name="password"
                [(ngModel)]="registerUser.password" required>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="errorMessage">*</div>
            <input class="form-control" placeholder="Confirm Password" type="password" name="confirmpassword"
                [(ngModel)]="registerUser.confirmpassword" required>
        </div>
        <div class="input-group mb-3" hidden>
            <input class="form-control" [(ngModel)]="registerUser.role" type="text" id="role" name="role" value="User">
        </div>
        <input class="submit_Register" (click)="register()" type="button" value="Submit">
    </form> -->
    <!-- <h3 class="other_Login">or</h3>
    <div class="login_By">
        <div class="login_By_Google">
            <a href="http://">
                <button type="submit">Continue with Google</button>
            </a>
        </div>

    </div> -->
    <div class="policy">By clicking "Register", I agree to MyWedding's TOS and Privacy Policy.</div>
</div>