<div class="u-body u-xl-mode" data-lang="en">
    <section style="background-image: url('{{imageUrl1}}')" class="u-clearfix u-image u-section-1" id="carousel_42b3">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-left u-container-style u-group u-palette-1-base u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h1 class="u-text u-text-1"><span style="font-weight: 700;">
              <input value="{{this.content.hostName}}" type="text" name="host_Name" readonly>
            </span>
                    </h1>
                    <div class="u-large-text u-text u-text-variant u-text-2">
                        <div>
                            <label for="timeInput" class="display-date">
                    <div id="day">{{this.content.date | date}}</div>

                    <div class="display-time">
                    {{this.content.date | date:'shortTime'}}</div>
                    </label>
                        </div>


                        <div class="place">
                            <input value="{{this.content.address}}" type="text" name="place" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-palette-1-light-2 u-section-6" id="sec-a07a">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1 ">
            <h1 class="u-text u-text-1">Our <b>Stories</b></h1>
            <p name="our_Stories_Text" id="" cols="30" rows="6" readonly> {{this.content.story}}</p>
            <div class="u-border-10 u-border-white u-image u-image-circle u-image-1" style="background-image: url('{{imageUrl2}}');"></div>
            <div class="u-image u-image-circle u-image-2 " style="background-image: url('{{imageUrl3}}');"></div>
            <div class="u-border-20 u-border-white u-image u-image-circle u-image-3 " style="background-image: url('{{imageUrl4}}');" data-image-width="700 " data-image-height="1049 "></div>
            <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1 ">
                <svg class="u-svg-link " preserveAspectRatio="none " viewBox="0 0 160 160 " style=" "><use xmlns:xlink="http://www.w3.org/1999/xlink " xlink:href="#svg-1186 "></use></svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink " version="1.1 " xml:space="preserve " class="u-svg-content " viewBox="0 0 160 160 " x="0px " y="0px " id="svg-1186 " style="enable-background:new 0 0
            160 160; "><path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80 s80-35.8,80-80S124.2,0,80,0L80,0z "></path></svg>
            </div>
            <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-2 ">
                <svg class="u-svg-link " preserveAspectRatio="none " viewBox="0 0 160 160 " style=" "><use xmlns:xlink="http://www.w3.org/1999/xlink " xlink:href="#svg-525f "></use></svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink " version="1.1 " xml:space="preserve " class="u-svg-content " viewBox="0 0 160 160 " x="0px " y="0px " id="svg-525f " style="enable-background:new 0 0
            160 160; "><path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80 s80-35.8,80-80S124.2,0,80,0L80,0z "></path></svg>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-section-5" id="carousel_4e04">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-30 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-size-30">
                                    <div class="u-layout-row">
                                        <div class="u-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                                            <div class="u-container-layout u-container-layout-1">
                                                <h1 class="u-text u-text-1" style="display: flex; justify-content: center; margin-bottom:30px; font-size: 55px;"><b>Restaurant Map</b></h1>
                                                <blockquote class="u-text u-text-2">{{this.content.address}}</blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-60 u-image-1" style="background-image: url('{{imageUrl5}}');width: -webkit-fill-available">
                                    <div class="u-container-layout u-container-layout-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-section-4" id="carousel_4d37">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-30">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1" style="background-image: url('{{imageUrl6}}');">
                                    <div class="u-container-layout u-container-layout-1"></div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h2 class="u-text u-text-1">Our <span style="font-weight: 700;">Memory</span>
                                        </h2>
                                        <p class="u-text u-text-2">Weddings are one of the most memorable and joyous events in a person's life. It's a celebration of love, commitment, and the beginning of a new chapter in a couple's journey. The memories created on this day are
                                            cherished for a lifetime by the couple and their loved ones.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                                    <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                                        <div class="u-align-left u-palette-1-light-2 u-shape u-shape-1"></div>
                                        <p class="u-text u-text-4">One of the most special memories of a wedding day is the moment the couple sees each other for the first time. This could be during the traditional first look or as the bride walks down the aisle. The look of love
                                            and awe on the couple's faces as they see each other is a moment that is etched in their minds forever.</p>
                                        <img src="{{imageUrl7}}" alt="" class="u-align-left u-image u-image-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-section-2" id="sec-0cbe">
        <div class="u-palette-1-light-2 u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-palette-1-base u-shape u-shape-rectangle u-shape-2"></div>
        <div class="u-container-style u-group u-image u-image-tiles u-image-1">
            <div class="u-container-layout u-container-layout-1"></div>
        </div>
        <img src="{{imageUrl8}}" alt="" class="u-image u-image-default u-image-2">
        <div class="u-align-right u-container-style u-group u-group-2">
            <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-xl u-container-layout-2">
                <h1 class="u-text u-text-1">See you at <b>party</b>
                    <br>
                </h1>
                <p class="u-large-text u-text u-text-variant u-text-2">We are eagerly looking forward to the opportunity to see you. </p>
                <a href="qrCodeDownloadLink" download="qrcode " class="u-border-1 u-border-grey-dark-1 u-btn u-button-style u-btn-2">Download QR Code</a>
                <qrcode (qrCodeURL)="onChangeURL($event) " [qrdata]="myAngularxQrCode " [width]="150 " [errorCorrectionLevel]=" 'M' "></qrcode>
            </div>
        </div>
    </section>
</div>
