<div class="container">
  <div class="row">
    <div class="col order-first">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Host's Name</th>
          </tr>
        </thead>
        <tbody>
          <td>
            <a target="_blank" href="{{ albumnDetails.imageLink }}" id="bottle">
              <img class="card-img-top" src="{{ albumnDetails.imageLink }}" alt="Card image cap">
            </a>
          </td>
          <td>{{ albumnDetails.personName }}</td>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="btn-group">
        <select  class="btn btn-success dropdown-toggle"  (change)="onContentSelected($event)">
          <option *ngFor="let content of contents" [value]="content.id">{{content.hostName}}</option>
        </select>
      </div>
      <br>

      <form #form="ngForm" (ngSubmit)="updateImage()">
        <div class="input-group mb-3">
          <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)"
            [(ngModel)]="albumnDetails.imageLink" name="imageLink">
          <input type="text" placeholder="Submit location you want" class="form-control" id="position" name="Position" [(ngModel)]="albumnDetails.row">
        </div>
        <br>
        <button class="btn btn-success btn-sm float-right" type="submit">
          Upload
        </button>
        <button class="btn btn-danger btn-sm float-right" type="button" (click)="deleteImage(albumnDetails.id)">
          Delete
        </button>
      </form>
    </div>
  </div>
</div>




