<button *ngIf="isEditAccountComponentVisible" class="btn btn-warning" (click)="back()">BACK</button>

<div *ngIf="isAccountComponentVisible">
    <!-- <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Avatar</th>
      <th scope="col">Username</th>
      <th scope="col">Account Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of accounts; let i = index">
      <th hidden>{{ account?.id }}</th>
      <th scope="row">{{i + 1}}</th>
      <th>
        <a target="_blank" href="{{ account?.avatar }}" id="bottle">
          <img class="card-img-top" [src]="account.avatar" alt="Avatar"/>
        </a>
      </th>
      <th>{{ account.username }}</th>
      <th>{{ account.fullname }}</th>
      <th>{{ account.email }}</th>
      <th>{{ account.role }}</th>
      <th><a class="tag" (click)="showComponent(account)">Update</a>
      </th>
    </tr>
    </tbody>
  </table> -->

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <!-- <th scope="col">Avatar</th> -->
                            <th scope="col">Username</th>
                            <th scope="col">Account Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let account of accounts; let i = index" style="font-weight:300 ;">
                            <th hidden>{{ account?.id }}</th>
                            <th scope="row">{{i + 1}}</th>
                            <!-- <th>
                                <a target="_blank" href="{{ account?.avatar }}" id="bottle">
                                    <img class="card-img-top" [src]="account.avatar" alt="Avatar" />
                                </a>
                            </th> -->
                            <th>{{ account.username }}</th>
                            <th>{{ account.fullname }}</th>
                            <th>{{ account.email }}</th>
                            <th>{{ account.role }}</th>
                            <th><a class="tag" (click)="showComponent(account)">Update</a>
                            </th>

                        </tr>
                    </tbody>
                </table>
                <div class="loadingCenter">
                    <app-loading [color]="'#F0A04B'" [isLoading]="isLoading"></app-loading>
                </div>
            </div>
        </div>
    </div>
</div>
<app-edit-account *ngIf="isEditAccountComponentVisible" [id]="id"></app-edit-account>