<div *ngIf="isAlbumnComponentVisible">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Avatar</th>
      <th scope="col">Username</th>
      <th scope="col">Account Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of accounts; let i = index">
      <th hidden>{{ account?.id }}</th>
      <th scope="row">{{i + 1}}</th>
      <th>
        <a target="_blank" href="{{ account?.avatar }}" id="bottle">
          <img class="card-img-top" [src]="account.avatar" alt="Avatar"/>
        </a>
      </th>
      <th>{{ account.username }}</th>
      <th>{{ account.fullname }}</th>
      <th>{{ account.email }}</th>
      <th>{{ account.role }}</th>
      <th><a class="tag" (click)="showComponent(account)">Update</a>
      </th>
    </tr>
    </tbody>
  </table>
</div>

<app-edit-account *ngIf="isEditAlbumnComponentVisible"  [id]="id" ></app-edit-account>

