/* .dashboard {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  height: 100vh;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color:var(--lighPinkNav_color);
  font-weight: 800;
}

.nav-admin{
  display: flex;
  color:var(--darkPink_color);
  border-bottom: 1px solid var(--darkPink_color);
  justify-content: space-between;
}
.account-admin{
  width: 100%;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: var(--white_color);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}

.sidebar a:hover {
  color: var(--lighPinkHover_color);
}

.landscape {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  height: 95vh;
}

.landscape img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}


.sidebar {
  background-color: var(--lightPink_color);
}


a{
  cursor: pointer;
}

.card {
  width:400px;
  height: 70px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  overflow: visible;
  border: none;

 }

 .card .item {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
 }

 .item:hover {
  transform: scale(0.95);
  transition: all 0.3s;
 }

 .item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
 }

 .item--1 {
  background: #c7c7ff;
 }

 .item--2 {
  background: #ffd8be;
 }

 .item--3 {
  background: #a9ecbf;
 }

 .item--4 {
  background: #f3bbe1;
 }

 .quantity {
  font-size: 25px;
  font-weight: 600;
 } */

.col-divide {
  padding: 0px;
  display: flex;
  margin-bottom: 20px;
}