<div class="dashboard">
  <div class="sidebar">
    <h2>My Wedding</h2>
    <ul>
      <li><a (click)="showComponent('account')">Accounts</a></li>
      <li><a (click)="showComponent('albumn')">Albumns</a></li>
      <li><a (click)="showComponent('content')">Contents</a></li>
      <li><a (click)="showComponent('register')">Register Song</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
  <div class="landscape">
    <div class="nav-admin">
      <div>
        <h4>{{title}}</h4>
      </div>
      <div>

      <h4 class="account-admin">
        <i class="fas fa-user "></i>
        {{currentUser?.username}}</h4>
      </div>
    </div>

    <app-account *ngIf="isAccountComponentVisible"></app-account>
    <app-albumn *ngIf="isAlbumnComponentVisible"></app-albumn>
    <app-content *ngIf="isContentComponentVisible"></app-content>
    <app-register-song *ngIf="isRegisterComponentVisible"></app-register-song>
  </div>
</div>

