@media screen and (max-width: 800px) {
    
    .create_Invitation_Content{
        margin: 20px 40px;

    }
    
  }
  @media screen and (min-width: 801px) {
    
    .create_Invitation_Content {
      width: 100%; /* Th1e width is 100%, when the viewport is 800px or smaller */

      display: flex;
    }
  }

.create_Invitation_Content{
    height: 100%;
}
.logo_navbar{
    font-style: italic;
    font-size: 20px;
    color: var(--lightGreen_color);
}

.navbar-container{
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #c3c3c3;
    padding: 10px 40px;
    background-color: black;
    display: flex;
    justify-content: end;
}

.search{
    width: 20%;
    color: white;
    /* background:linear-gradient(271.15deg, #FA4BFE 7.64%, #FB724C 90.68%), #EE5757; */
    /* background-color: #8448D9; */
    
    
}

.content-center{
    width: 100%;
}

.container_CreatePage{
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid #c3c3c3;
}

.content_Create_Page{
    
    width: 20%;
    margin-right: 30px;
    font-size: 16px;
}

.container_CreatePage button{
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    /* box-shadow: rgba(219, 219, 219, 0.2) 0px 8px 24px; */
    padding: 6px 0px ;
}

button:hover {
    background-color: #f3f3f3;
    transition: ease-in;
}

.content_Create{
  font-size: 16px;
  font-weight: 200;
}



.sidebar {
    width: 250px;
    height: 100%;
    color: black;
    border-right: 1px solid #c3c3c3;
  }
  .sidebar header {
    height: 44px;
    font-size: 22px;
    line-height: 44px;
    text-align: center;
    background: black;
    user-select: none;
    font-style: italic;
    color: #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
  }

.sidebar ul{
    margin-top: 20px;

}

  .sidebar ul a{
    display: block;
    width: 100%;
    line-height: 50px;
    font-size: 18px;
    color: black;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
    font-weight: 200;
  }

  .sidebar li{
    list-style: none;

  }

.sidebar a{
   text-decoration: none;

}

  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
  }
  header{
     font-style: italic;
    font-size: 20px;
    color: var(--lightGreen_color);
  }