<div class="container_CreatePage">
  <div class="create_New">
    <button class="content_Create_Page" (click)="showContent()">
      <div class="content_Create">
        Blank
      </div>
      <p style="color:blue;">Create New</p>
    </button>
  </div>
  <button class="button button-primary" (click)="logout()">Logout</button>
  <!-- <div class="create_New">
    <button class="content_Create_Page" href="">
      <a href="../form/form.component.html">
        <div class="content_Create">
          MyWedding
        </div>
        Template by MyWedding
      </a>
    </button>
  </div>
  <div class="create_New">
    <button class="content_Create_Page" href="">
      <div class="content_Create">
        Explore more design...
      </div>
      Community
    </button>
  </div> -->

</div>