.tag{
  cursor: pointer;
  color:var(--lightGreen_color);
}
.tag:hover{
  color:var(--darkBlue_color);
}
.container
{
  margin-left: 0px;
}
.loadingCenter{
  width: 100%;
  display: flex;
  justify-content: center;
}
